@use 'variables' as *;

.contentBlock {
    padding: 1em;
    margin: 1em;
    background-color: $bg-gray;
    text-align: center;
    border-radius: 25px;
    justify-content: right;
    align-items: center;
}