@use 'variables' as *;

.signatureBox {
    display: flex;
    background-color: $bg-gray;
    align-self: flex-end;
    justify-self: flex-start;
    width: 75%;
}

.sig {
    align-self: flex-start;
    justify-self: flex-start;
    stroke: $signature-border;
    fill: $signature-fill;
    stroke-width: 3px;
    stroke-dasharray: 1800;
    animation: effectText 5s ease-in-out;

    svg {
        width: 75%;

        text {
            justify-self: flex-start;
        }
    }
}

@keyframes effectText {
    from {
        fill: transparent;
        stroke-dashoffset: 1800;
    }

    to {
        fill: $signature-fill;
        stroke-dashoffset: 0;
    }
}

@media (width <=1140px) {
    .signatureBox {
        visibility: hidden;
        height: 0;
    }
}