@use 'variables' as *;

.signatureBox {
    margin-top: auto;
    justify-self: flex-end;
    position: relative;
    display: flex;
    width: 75%;
}

.sig {
    stroke: $signature-border;
    fill: $signature-fill;
    stroke-width: 3px;
    stroke-dasharray: 1800;
    animation: effectText 5s ease-in-out;

    svg {
        width: 75%;
    }
}

@keyframes effectText {
    from {
        fill: transparent;
        stroke-dashoffset: 1800;
    }

    to {
        fill: $signature-fill;
        stroke-dashoffset: 0;
    }
}

@media (width <=$media-med) {
    .signatureBox {
        visibility: hidden;
        height: 0;
    }
}