@use 'variables' as *;

.projectWrapper {
    @include flex-column;
    @include default-box;
    max-width: 36rem; // same cap for both; 
    box-sizing: border-box;
    min-width: 0; // lets flex children shrink below content size
    text-align: center;
    justify-content: right;
}

.projectSubDateWrapper {
    @include flex-row;

    img {
        margin-top: 1.5rem;
        width: 30%;
        height: 90px;
        border-radius: 5%;
    }

}

.projectSubParagraphWrapper {
    flex: 1;
    min-width: 0; // required for text wrap inside flex row
    padding: 1em;
    padding-top: 0.1em;
    margin: 1em;
    margin-top: 0;
    text-align: center;
    border-radius: 25px;


    li {
        padding: 0;
        padding-bottom: 0.5em;
        list-style-type: disc;
        text-align: left;
    }
}


@media (width <=$media-small) {
    .projectSubDateWrapper {
        @include flex-column;

        img {
            order: 1;
            margin-left: 1rem;
            padding-left: 1rem;
            align-self: flex-start;
            margin-top: 5px;
            margin-bottom: 1rem;
            padding-top: 0;
            width: 40%;
            height: 8rem;
        }
    }

    .projectSubParagraphWrapper {
        margin-bottom: 0;
    }
}