@use 'variables' as *;

.summaryBlock {
    @include default-box;
    text-align: left;
    max-width: 36rem; // same cap for both; tweak as you like
    box-sizing: border-box;
    margin-top: min(4em, 10%);

    p {
        text-align: left;
        padding-left: 4px;
    }
}