@use './components/component css/variables' as *;

body {
    background-color: $body-background;
    color: $default-text-color;
    font-size: 1.2em;
}

.siteWrapper {
    @include flex-row;
    justify-content: center;
}

.contentWrapper {
    @include flex-column
}

h1 {
    font-size: clamp(1.8rem, 7vw + 1rem, 3rem);
}

@media (width <=960px) {
    .siteWrapper {
        @include flex-column;
    }
}