@use './components/component css/variables' as *;

body {
    background-color: $body-background;
    color: $default-text-color;
}

.siteWrapper {
    @include flex-row;
    justify-content: space-around;
}

.conentWrapper {
    @include flex-column
}