@use './components/component css/variables' as *;

body {
    background-color: $body-background;
    color: $default-text-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h1 {
    font-size: clamp(1.8rem, 7vw + 1rem, 3rem);
}

.siteWrapper {
    @include flex-row;
    justify-content: center;
}

.contentWrapper {
    @include flex-column
}

.headNavWrapper {
    top: 1rem;
    position: sticky;
    width: auto;
    height: 100vh;
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (width <=$media-big) {
    .headNavWrapper {
        width: 35%;
    }

}

@media (width <=$media-med) {
    .siteWrapper {
        @include flex-column;
    }

    .headNavWrapper {
        @include flex-column;
        top: auto;
        height: auto;
        position: relative;
        width: 75%;

        ul {
            visibility: hidden;
            height: 0;
        }
    }
}

@media (width <=$media-small) {
    .headNavWrapper {
        width: 100%;
        padding-left: 4px;
    }
}